<div id="header">
  <h1>Парсер данных туроператора NEC Travel</h1>
  Москва (Россия) -> ISTANBUL (Турция) <br />
  NEC Travel - <a href="http://online.nectravel.ru/freight_monitor">http://online.nectravel.ru/freight_monitor</a> (Турция; город прибытия - ISTANBUL)
</div>
<div id="container">loading...</div>
